{%extends 'blog/base.html' %} {% load crispy_forms_tags%} {%block content%}
<div class="center">
  <p class="chatname">What chat room would you like to enter?</p>
  <br />
  <input id="room-name-input" class="input-size" type="text" size="100" />
  <input
    id="room-name-submit"
    class="chat-button"
    type="button"
    value="Enter"
  />
</div>
<script>
  document.querySelector("#room-name-input").focus();
  document.querySelector("#room-name-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#room-name-submit").click();
    }
  };

  document.querySelector("#room-name-submit").onclick = function (e) {
    var roomName = document.querySelector("#room-name-input").value;
    window.location.pathname = "/chat/" + roomName + "/";
  };
</script>

<style>
  .chat-button {
    height: 40px;
    width: 70px;
  }
  .chatname {
    font-size: 30px;
    color: red;
    font-family: helvetica;
  }
  .input-size {
    width: 500px;
    font-family: helvetica;
    height: 40px;
  }
  .center {
    alighn-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  @media (max-width: 600px) {
    .chat-button {
      margin-top: 10px;
    }
  }
</style>

{%endblock content%}
